{% extends 'base.html.twig' %}
{% block body %}
    <div class="columns is-centered is-variable is-0-mobile">

        <div class="column is-one-third is-hidden-mobile">
            {{ include('calendar/calendar.html.twig') }}
        </div>

        <div class="column">
            <style>
                @media screen and (min-width: 768px) {
                    .table {
                        table-layout: fixed;
                    }
                }
                .table tr td {
                    vertical-align: middle;
                    -webkit-user-select: none; /* Safari */
                    -ms-user-select: none; /* IE 10 and IE 11 */
                    user-select: none; /* Standard syntax */
                }
                .corner-cel {
                    border-top: none !important;
                    border-left: none !important;
                }
                .corner-cel-bottom {
                    border-bottom: none !important;
                    border-left: none !important;
                }
                .will-attend, .maybe-attend {
                    width: 22px;
                    height: 22px;
                    background-size: contain;
                }
                .not-responded {
                    opacity: 0.5;
                    width: 16px;
                    height: 16px;
                    background-size: contain;
                }
                .will-attend {
                    background-image: url("{{ asset('images/will_attend.jpg') }}");
                }
                .maybe-attend {
                    background-image: url("{{ asset('images/maybe_attend.jpg') }}");
                }
                .not-responded {
                    background-image: url("{{ asset('images/question-mark.jpg') }}");
                }
                .icon-container {
                    display: flex;
                    justify-content: center;
                }
                .form-container {
                    border: 0 !important;
                    padding: .5em 0 !important;
                }
                .date {
                    display: none;
                }
                .isWeekend {
                    color: #ce0101;
                }
            </style>

            {% set calendar = calendarHelper.getCalendar() %}
            <h2 class="title is-3">{{ calendar.getTitle() }}</h2>
            <h6 class="subtitle is-6">
                <div>Utworzony: {{ calendar.getCreatedAt().format('Y-m-d') }}</div>
                <a href="{{ path('calendar_delete', {'id': calendar.getId()}) }}" class="button is-danger is-small mt-1">Usuń ten kalendarz</a>
            </h6>

            <div class="table-container">
                <table class="table is-bordered has-text-centered">
                    <colgroup>
                        <col span="1">
                        <col span="{{ calendarHelper.getDates()|length + 1 }}" style="width: 64px;">
                    </colgroup>
                    <tr>
                        <td colspan="1" class="corner-cel"></td>
                        {% for date in calendarHelper.getDates() %}
                            <td>
                                <div>
                                    <b>{{ date.format('D') }}</b>
                                </div>
                                <div {{ date.format('D') in ['Sat', 'Sun'] ? 'class="is-weekend"' : '' }}>
                                    {{ date.format('d') }}
                                </div>
                                <div>
                                    {{ date.format('M') }}
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                    {% for username, responses in calendarHelper.getResponses() %}
                        {% set canVote = username == app.user.getUsername() %}
                        <tr>
                            <td>
                                {{ username }}
                            </td>
                            {% for date, response in responses %}
                                <td {{ canVote ? 'class="can-vote"' : '' }}>
                                    <div class="icon-container">
                                        {% if response == 'will_attend'  %}
                                            <div class="will-attend"></div>
                                        {% elseif response == 'maybe_attend'  %}
                                            <div class="maybe-attend"></div>
                                        {% elseif response == 'not_responded' %}
                                            <div class="not-responded"></div>
                                        {% endif %}
                                    </div>
                                    <span class="date">{{ date }}</span>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="1" class="corner-cel-bottom"></td>
                        {% for points in calendarHelper.getPoints() %}
                            <td>
                                {{ points }}
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td class="form-container" colspan="{{ calendarHelper.getDates()|length + 1 }}">
                            {{ form(form) }}
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>

    <script src="{{ asset('js/answer_calendar_helper.js') }}"></script>
{% endblock %}
