<style>
    .month {
        width: 100%;
        max-width: 371px;
        margin-bottom: 1.5rem;
    }
    .month div {
        box-shadow:
                1px 0 0 0 rgb(219, 219, 219),
                0 1px 0 0 rgb(219, 219, 219),
                1px 1px 0 0 rgb(219, 219, 219),
                1px 0 0 0 rgb(219, 219, 219) inset,
                0 1px 0 0 rgb(219, 219, 219) inset;
        width: 100%;
        color: #363636;
    }
    .month-title, .week > div {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    .week {
        display: flex;
        flex-grow: 1;
    }
    .week .day:nth-last-child(-n + 2) {
        color: rgba(206,1,1,255);
    }
    .week > div, .month-title {
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }
    .day:hover {
        cursor: pointer;
    }
    .date {
        display: none;
    }
    .will-attend {
        background-color: #00d1b2;
        color: white;
    }
    .maybe-attend {
        background-color: #ffe08a;
    }
    .will-not-attend {
        background-color: transparent;
    }
    .will-not-attend:hover {
        background-color: rgba(245, 245, 245);
    }
</style>

{% for yearNumber, year in datesForCalendar %}
    {% for monthName, month in year %}
        <div class="month">
            <div class="month-title has-text-centered">
                <b>{{ monthName }} {{ yearNumber }}</b>
            </div>
            <div class="week">
                {% for dayName in ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'] %}
                    <div class="has-text-centered">
                        <b>{{ dayName }}</b>
                    </div>
                {% endfor %}
            </div>
            {% for weekNumber, week in month %}
                <div class="week">
                    {% for dayName in ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'] %}
                        {% if dayName in week|keys %}
                            <div class="day has-text-centered will-not-attend">
                                {{ week[dayName].format('d') }}
                                <span class="date">{{ week[dayName].format('Y-m-d') }}</span>
                            </div>
                        {% else %}
                            <div></div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endfor %}

<script src="{{ asset('js/calendar_helper.js') }}"></script>