<link rel="stylesheet" href="{{ asset('css/checkbox_switch.css') }}">

{{ form_start(form) }}
<div class="field">
    <label class="label">{{ form_label(form.title) }}</label>
    <div class="control">
        {{ form_widget(form.title) }}
    </div>
    <p class="help is-danger">{{ form_errors(form.title) }}</p>
</div>

<div class="field">
    <label class="label">{{ form_label(form.is_public) }}</label>
    <div class="control">
        <label class="switch">
            {{ form_widget(form.is_public) }}
            <span class="slider round"></span>
        </label>
    </div>
</div>

<div class="field">
    <label class="label">{{ form_label(form.invited_users) }}</label>
    <div class="control">
        {{ form_widget(form.invited_users) }}
    </div>
</div>
{{ form_end(form) }}