<link rel="stylesheet" href="{{ asset('css/checkbox_switch.css') }}">

<style>
    #calendar_form_invite_users > div {
        margin-bottom: 2px;
    }
    #calendar_form_invite_users > div:last-child {
        margin: 0;
    }
    .control input {
        width: 100%;
    }
</style>

{{ form_start(form) }}
<div class="field">
    <label class="label">{{ form_label(form.title) }}</label>
    <div class="control">
        {{ form_widget(form.title) }}
    </div>
    <p class="help is-danger">{{ form_errors(form.title) }}</p>
</div>

{#<div class="field">#}
{#    <div class="control">#}
{#        {{ form_widget(form.is_public) }}#}
{#    </div>#}
{#</div>#}

<div class="field">
    <label class="label">{{ form_label(form.invite_users) }}</label>
    <div class="control">
        {{ form_widget(form.invite_users) }}
    </div>
</div>
{{ form_end(form) }}

<script src="{{ asset('js/checkbox_switch.js') }}"></script>