{{ form_start(item_card_form) }}
<div class="field">
    <label class="label">{{ form_label(item_card_form.item_category) }}</label>
    <div class="control">
        <div class="select is-fullwidth">
            {{ form_widget(item_card_form.item_category) }}
        </div>
    </div>
    <p class="help is-danger">{{ form_errors(item_card_form.item_category) }}</p>
</div>

<div class="field">
    <label class="label">{{ form_label(item_card_form.item_title) }}</label>
    <div class="control">
        {{ form_widget(item_card_form.item_title) }}
    </div>
    <p class="help is-danger">{{ form_errors(item_card_form.item_title) }}</p>
</div>

<div class="field">
    <label class="label">{{ form_label(item_card_form.item_description) }}</label>
    <div class="control">
        {{ form_widget(item_card_form.item_description) }}
    </div>
    <p class="help is-danger">{{ form_errors(item_card_form.item_description) }}</p>
</div>

<div class="field">
    <label class="label">{{ form_label(item_card_form.item_origin) }}</label>
    <div class="control">
        {{ form_widget(item_card_form.item_origin) }}
    </div>
    <p class="help is-danger">{{ form_errors(item_card_form.item_origin) }}</p>
</div>

<div class="field">
    <label class="label">{{ form_label(item_card_form.item_image) }}</label>
    <div class="control">
        <div class="file">
            <label class="file-label">
                {{ form_widget(item_card_form.item_image) }}
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Wybierz plik...
                    </span>
                </span>
            </label>
        </div>
    </div>
    <p class="help is-danger">{{ form_errors(item_card_form.item_image) }}</p>
</div>

<div class="field">
    <div class="control">
        {{ form_widget(item_card_form.zapisz) }}
    </div>
</div>
{{ form_end(item_card_form) }}