{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .table-item {
            cursor: pointer;
        }
    </style>
    <a class="button is-primary is-fullwidth" disabled>Stwórz postać</a>
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
        <tr>
            <th>#</th>
            <th>imię</th>
            <th>rasa</th>
            <th>klasa</th>
            <th>poziom</th>
            <th>kampania</th>
        </tr>
        </thead>
        <tbody>
        {% for key, character in characters %}
            {% set className = character.getCharacterClassCollection().getMainClassName()|ucWords %}
            {% set subclassName = character.getCharacterClassCollection().getSubclassName() %}
            {% if subclassName is not null %}
                {% set className = className ~ ' - ' ~ subclassName|ucWords %}
            {% endif %}

            <tr class="table-item" href="{{ path('character_read', {'id': character.getId()}) }}">
                <td>{{ key + 1 }}</td>
                <td>{{ character.getCharacterName() }}</td>
                <td>{{ character.getRace().getName()|ucWords }}</td>
                <td>{{ className }}</td>
                <td>{{ character.getLevels().getLevel() }}</td>
                <td>{{ character.getCampaignName() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script src="{{ asset('js/list_helper.js') }}"></script>
{% endblock %}