{% extends 'base.html.twig' %}
{% block body %}
    <style>
        #quill-editor-container {
            height: 400px;
        }
        .small-card-front, .small-card-back {
            zoom: 150%;
        }
    </style>

    <div class="columns">
        <div class="column">
            {{ include('item_card/form.html.twig') }}
        </div>
        <div class="column is-narrow">
            {{ itemCardFrontHtml|raw }}
        </div>
        <div class="column is-narrow">
            {{ itemCardBackHtml|raw }}
        </div>
    </div>

    <script src="{{ asset('js/quill.js') }}"></script>
    <script src="{{ asset('js/item_card_quill_text_helper.js') }}"></script>
    <script src="{{ asset('js/item_card_text_helper.js') }}"></script>
    <script src="{{ asset('js/item_card_image_helper.js') }}"></script>
{% endblock %}