{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .table-item {
            cursor: pointer;
        }
    </style>
    <a class="button is-primary is-fullwidth" href="{{ path('item_card_create') }}">Dodaj kartę</a>
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
        <tr>
            <th>#</th>
            <th>nazwa</th>
            <th>pochodzenie</th>
            <th>typ</th>
            <th>autor</th>
            <th>utworzono</th>
        </tr>
        </thead>
        <tbody>
        {% for itemCard in itemCards %}
            <tr class="table-item" href="{{ path('item_card_read', {'id': itemCard.id}) }}">
                <th>1</th>
                <td>{{ itemCard.title }}</td>
                <td>{{ itemCard.origin }}</td>
                <td>{{ itemCard.category }}</td>
                <td>{{ itemCard.author }}</td>
                <td>{{ itemCard.created_at }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script src="{{ asset('js/list_helper.js') }}"></script>
{% endblock %}