{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .table-item {
            cursor: pointer;
        }
    </style>
    <a class="button is-primary is-fullwidth" href="{{ path('item_card_create') }}">Dodaj kartę</a>
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
        <tr>
            <th>#</th>
            <th>nazwa</th>
            <th>pochodzenie</th>
            <th>typ</th>
            <th>autor</th>
            <th>utworzono</th>
        </tr>
        </thead>
        <tbody>
        {% for itemCard in itemCards %}
            <tr class="table-item" href="{{ path('item_card_read', {'id': itemCard.getId()}) }}">
                <th>1</th>
                <td>{{ itemCard.getTitle() }}</td>
                <td>{{ itemCard.getOrigin() }}</td>
                <td>{{ itemCard.getCategory().getValue() }}</td>
                <td>{{ itemCard.getAuthorId() }}</td>
                <td>{{ itemCard.getCreatedAt().format('Y-m-d H:i:s') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script src="{{ asset('js/item_card_list_helper.js') }}"></script>
{% endblock %}