{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .small-card-front, .small-card-back {
           zoom: 150%;
        }
    </style>

    <div class="columns">
        <div class="column">
            <div class="buttons">
                <a class="button is-primary is-fullwidth" href="{{ path('item_card_create') }}">Dodaj kartę</a>
                <a class="button is-info is-fullwidth" href="{{ path('item_card_print', {'id': id}) }}" target="_blank">Drukuj</a>
                <a class="button is-warning is-fullwidth" href="{{ path('item_card_update', {'id': id}) }}">Edytuj</a>
                <a class="button is-danger is-fullwidth" href="{{ path('item_card_delete', {'id': id}) }}">Usuń</a>
            </div>
        </div>
        <div class="column is-narrow">
            {{ itemCardFrontHtml|raw }}
        </div>
        <div class="column is-narrow">
            {{ itemCardBackHtml|raw }}
        </div>
    </div>
{% endblock %}