<b>Rzucanie czarów</b> - możesz przygotować następującą ilość czarów: {{ spellCount }}. Zużyte komórki czarów odnawiają
się po długim odpoczynku.
<table>
    <tr>
        <td style="width: 33%;">Twój mod do ataku czarem</td>
        <td colspan="3">{{ spellAttackMod }}</td>
    </tr>
    <tr>
        <td>ST przeciwko twoim czarom</td>
        <td colspan="3">{{ spellDC }}</td>
    </tr>
    <tr>
        <td></td>
        {% for spellCircle in spellCircles %}
            <td>{{ spellCircle['circle'] }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Max</td>
        {% for spellCircle in spellCircles %}
            <td>{{ spellCircle['count'] }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>Użyte</td>
        {% for spellCircle in spellCircles %}
            <td></td>
        {% endfor %}
    </tr>
</table>