<style>
   #saving-throws-background {
      background-image: url("/public/images/saving_throws.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: inherit;
      height: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   #saving-throws-container {
   {{ backgroundColor() }}
      width: 139px;
      height: 124px;
      font-size: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
   }
   .saving-throw {
      width: 16mm;
      height: 9mm;
      display: flex;
      flex-wrap: wrap;
   }
   .saving-throw div {
      display: flex;
      align-items:center;
      justify-content:center;

   }
   .saving-throw div:nth-child(1) {
   {{ backgroundColor() }}
      width: 16mm;
   }
   .saving-throw div:nth-child(2) {
   {{ backgroundColor() }}
      width: 4mm;
   }
   .saving-throw div:nth-child(3) {
   {{ backgroundColor() }}
      font-size: 14px;
      width: 4mm;
   }
   .saving-throw div:nth-child(4) {
   {{ backgroundColor() }}
      font-size: 14px;
      width: 4mm;
   }
   .saving-throw div:nth-child(5) {
   {{ backgroundColor() }}
      width: 4mm;
   }
</style>

<div id="saving-throws-section" class="section">
   <div id="saving-throws-background">
      <div id="saving-throws-container">
         {% for key, savingThrow in savingThrows.toArray() %}
            <div class="saving-throw">
               <div><b>{{ key|upper }}</b></div>
               <div>{{ savingThrow.hasProficiency()|dot }}</div>
               <div class="opaque">{{ savingThrow.getValue()|value }}</div>
               <div class="opaque">+</div>
               <div><span class="rectangle"/></div>
            </div>
         {% endfor %}
      </div>
   </div>
</div>