<style>
   #title-background {
      background-image: url("/public/images/title.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: inherit;
      height: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   #character-name {
   {{ backgroundColor() }}
      position: absolute;
      left: 24px;
      top: 24px;
      width: 240px;
      height: 33px;
      font-size: 18px;
   }
   #common-data-container {
   {{ backgroundColor() }}
      width: 393px;
      height: 55px;
      left: 270px;
      top: 20px;
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
   }
   .common-data {
      width: 376px;
      height: 25px;
      font-size: 10px;
      display: flex;
      flex-wrap: wrap;
   }
   .common-data div {
      display: flex;
      align-items:center;
   }
   .common-data div:nth-child(1) {
      border-bottom: 1px solid grey;
      width: 44%;
   }
   .common-data div:nth-child(2) {
      border-bottom: 1px solid grey;
      width: 28%;
   }
   .common-data div:nth-child(3) {
      border-bottom: 1px solid grey;
      width: 28%;
   }
   .common-data div:nth-child(4) {
      font-size: 7px;
      width: 44%;
   }
   .common-data div:nth-child(5) {
      font-size: 7px;
      width: 28%;
   }
   .common-data div:nth-child(6) {
      font-size: 7px;
      width: 28%;
   }
</style>

<div id="title-section" class="section">
   <div id="title-background">
      <div id="character-name" class="uc">{{ characterName }}</div>
      <div id="common-data-container">
         <div class="common-data">
            <div>{{ className }} {{ level }}</div>
            <div>{{ origin|ucWords }}</div>
            <div>{{ playerName|ucWords }}</div>
            <div>KLASA I POZIOM</div>
            <div>POCHODZENIE</div>
            <div>IMIĘ GRACZA</div>
         </div>
         <div class="common-data">
            <div>{{ race|ucWords }}</div>
            <div>{{ alignment|ucWords }}</div>
            <div>{{ campaign|ucWords }}</div>
            <div>RASA</div>
            <div>CHARAKTER</div>
            <div>KAMPANIA</div>
         </div>
      </div>
   </div>
</div>