<link rel="stylesheet" href="{{ asset(stylesPath) }}">
<style>
    .description-section {
        background-image: url("{{ asset('images/dnd5e_logo_opaque_10.png') }}");
        background-position: center;
        background-repeat: no-repeat;
        background-color: white;
        background-size: 80%;
        border-radius: 5px;
        font-size: 9px;
        padding: 4px;
        margin: 0 2mm 2mm 2mm;
        display: flex;
        flex-grow: 1;
        text-align: justify;
        flex-direction: column;
        justify-content: space-between;
    }
    .description-section-back {
        background-image: url("{{ asset('images/dnd5e_logo.png') }}");
    }
</style>
<div class="small-card-back">
    <div class="title-section">
        <div class="item-title title-font">
            {% if title is not null %}
                {{ title }}
            {% else %}
                Lorem ipsum dolor sit amet
            {% endif %}
        </div>
    </div>
    <div class="description-section description-section-back" {{ image is not null ? itemCardImage(image)|raw : '' }}></div>
    <div id="item-origin">
        {% if origin is not null %}
            {{ origin }}
        {% else %}
            Quis autem vel eum iure reprehenderit.
        {% endif %}
    </div>
</div>