<style>
    body {
        padding: 0;
        margin: 0;
        font-family: Arial;
    }
    hr {
        border: none;
        border-top: 1px dashed lightgray;
    }
    .black-dot {
        height: 9px;
        width: 9px;
        border-radius: 50%;
        border: 1px solid black;
        background-color: black;
        display: inline-block;
    }
    .empty-dot {
        height: 9px;
        width: 9px;
        border-radius: 50%;
        border: 1px solid black;
        display: inline-block;
    }
    .rectangle {
        height: 5mm;
        width: 5mm;
        border: 1px solid black;
        display: inline-block;
        opacity: 0.3;
    }
    .opaque {
        opacity: 0.2;
    }
    .tac {
        text-align: center;
    }
    .tar {
        text-align: right;
    }
    /* ultimate center vertically and horizontally */
    .uc {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
    /* center vertical */
    .cv {
        display: flex;
        align-items:center;
    }
    #character-card-front {
        /*background-color: rgba(255, 192, 203, 0.3);*/
        width: 287mm !important;
        height: 200mm !important;
        position: relative;
        overflow: hidden;
    }
    #title-section {
        left: 0;
        top: 2px;
        width: 177mm;
        height: 25mm;
    }
    #abilities-section {
        left: 0;
        top: 98px;
        width: 16mm;
        height: 575px;
    }
    #saving-throws-section {
        left: 68px;
        top: 98px;
        width: 43mm;
        height: 37mm;
    }
    #stats-section {
        left: 237px;
        top: 97px;
        width: 50mm;
        height: 41mm;
    }
    #resistances-immunities-section {
        left: 73px;
        top: 242px;
        width: 153px;
        height: 17mm;
    }
    #ability-skills-section {
        left: 68px;
        top: 310px;
        width: 43mm;
        height: 96mm;
    }
    #passive-perception-intuition-section {
        left: 0px;
        top: 674px;
        width: 60mm;
        height: 20mm;
    }
    #hp-section {
        left: 237px;
        top: 256px;
        width: 50mm;
        height: 20mm;
    }
    #hit-dice-section {
        left: 237px;
        top: 335px;
        width: 50mm;
        height: 19mm;
    }
    #dealt-dmg-section {
        left: 237px;
        top: 411px;
        width: 50mm;
        height: 41mm;
    }
    #proficiencies-languages-section {
        left: 237px;
        top: 573px;
        width: 50mm;
        height: 47mm;
    }
    #skills-counter-section {
        left: 435px;
        top: 95px;
        width: 62mm;
        height: 83mm;
    }
    #attacks-tricks-section{
        left: 435px;
        top: 411px;
        width: 62mm;
        height: 90mm;
    }
    #skills-section{
        left: 670px;
        top: 2px;
        width: 110mm;
        height: 198mm;
    }
    .section {
        /*background-color: rgba(0, 255, 255, 0.5);*/
        position: absolute;
    }
</style>
<div id="character-card-front">
    {{ titleSection|raw }}
    {{ abilitiesSection|raw }}
    {{ savingThrowsSection|raw }}
    {{ statsSection|raw }}
    {{ resistancesImmunitiesSection|raw }}
    {{ abilitySkillsSection|raw }}
    {{ passivePerceptionIntuitionSection|raw }}
    {{ hpSection|raw }}
    {{ hitDiceSection|raw }}
    {{ dealtDmgSection|raw }}
    {{ proficienciesLanguagesSection|raw }}
    {{ skillsCounterSection|raw }}
    {{ attacksTricksSection|raw }}
    {{ skillsSection|raw }}
</div>