{% extends 'base.html.twig' %}
{% block body %}
    <style>
        #character-card-front {
            /*background-color: rgba(255, 192, 203, 0.3);*/
            width: 287mm !important;
            height: 200mm !important;
            position: relative;
            overflow: hidden;
        }
        #title-section {
            left: 0;
            top: 0;
            width: 177mm;
            height: 25mm;
        }
        #abilities-section {
            left: 0;
            top: 96px;
            width: 16mm;
            height: 153mm;
        }
        #saving-throws-section {
            left: 72px;
            top: 96px;
            width: 43mm;
            height: 37mm;
        }
        #stats-section {
            left: 243px;
            top: 95px;
            width: 50mm;
            height: 41mm;
        }
        #resistances-immunities-section {
            left: 78px;
            top: 241px;
            width: 40mm;
            height: 17mm;
        }
        #ability-skills-section {
            left: 72px;
            top: 310px;
            width: 43mm;
            height: 96mm;
        }
        #passive-perception-intuition-section {
            left: 0px;
            top: 678px;
            width: 60mm;
            height: 20mm;
        }
        #hp-section {
            left: 243px;
            top: 255px;
            width: 50mm;
            height: 20mm;
        }
        #hit-dice-section {
            left: 243px;
            top: 333px;
            width: 50mm;
            height: 19mm;
        }
        #dealt-dmg-section {
            left: 243px;
            top: 411px;
            width: 50mm;
            height: 41mm;
        }
        #proficiencies-languages-section {
            left: 243px;
            top: 573px;
            width: 50mm;
            height: 47mm;
        }
        #skills-counter-section {
            left: 435px;
            top: 93px;
            width: 62mm;
            height: 83mm;
        }
        #attacks-tricks-section{
            left: 435px;
            top: 411px;
            width: 62mm;
            height: 90mm;
        }
        .section {
            background-color: rgba(0, 255, 255, 0.5);
            position: absolute;
        }
    </style>
    <div id="character-card-front">
        {{ titleSection|raw }}
        {{ abilitiesSection|raw }}
        {{ savingThrowsSection|raw }}
        {{ statsSection|raw }}
        {{ resistancesImmunitiesSection|raw }}
        {{ abilitySkillsSection|raw }}
        {{ passivePerceptionIntuitionSection|raw }}
        {{ hpSection|raw }}
        {{ hitDiceSection|raw }}
        {{ dealtDmgSection|raw }}
        {{ proficienciesLanguagesSection|raw }}
        {{ skillsCounterSection|raw }}
        {{ attacksTricksSection|raw }}
    </div>
{% endblock %}